@font-face {
  font-family: "Roboto Mono";
  src: url("../assets/RobotoMono-Regular.ttf");
}

@font-face {
  font-family: "Fira Sans";
  src: url("../assets/FiraSans-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Fira Sans";
  src: url("../assets/FiraSans-Medium.ttf");
  font-weight: 500;
}
